@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* start of header */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 10px;
    margin-right: 100px;

}
.nav-item{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: grey;

}
header{
    background-color: blanchedalmond;
}
.brand{
    margin-left: 100px;
    font-size: 3rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: crimson;
    color: cornsilk;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.b1{
    margin: 30px 0px;
}
.banner-image{
    width: 100%;
}

/* media query of header */

@media screen and (max-width:576px){
.navbar,
.nav-links{
   flex-direction: column;
}
}

/* end of header */


/* start of teams-section */
.teams{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    gap: 30px;
    padding:50px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.s1{
    color: gray;
}
.s3{
    color: crimson;
}
.our-features>*{
    margin-bottom: 10px;
}

/* media query */
@media screen and (max-width:576px){
.teams{
   flex-direction: column;
}
.team-image-container{
    grid-template-columns: repeat(1,1fr);
}
.our-features{
    margin-left: 20px;
}
}
/* end of teams-section */