@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* start of header */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 10px;
    margin-right: 100px;

}
.nav-item{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: grey;

}
header{
    background-color: blanchedalmond;
}
.brand{
    margin-left: 100px;
    font-size: 3rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: crimson;
    color: cornsilk;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.b1{
    margin: 30px 0px;
}
.banner-image{
    width: 100%;
}

/* media query of header */

@media screen and (max-width:576px){
.navbar,
.nav-links{
   flex-direction: column;
}
}

/* end of header */


/* start of teams-section */
.teams{
    display: flex;
    align-items: center;
    gap: 30px;
    padding:50px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.s1{
    color: gray;
}
.s3{
    color: crimson;
}
.our-features>*{
    margin-bottom: 10px;
}

/* media query */
@media screen and (max-width:576px){
.teams{
   flex-direction: column;
}
.team-image-container{
    grid-template-columns: repeat(1,1fr);
}
.our-features{
    margin-left: 20px;
}
}
/* end of teams-section */


/* start of facts-section */
.facts{
   
    padding-left: 60px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 2px solid rgb(32, 32, 32);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width:576px){
.facts-container{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 10px;
}
.facts{
    padding-left:120px ;
}
}
/* end of facts-section */


/* start of sponsor-section */
.sponsor-content{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-img img{
    filter: grayscale(100);
}
@media screen and (max-width:576px){
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 150px;
}
.sponsor-img>*{
    margin-bottom: 10px;
}
}

/* end of sponsor-section */

/* start of sponsor-section */
.features{
    display: flex;
    gap: 100px;
}

.features div p{
    color: gray;
}
.section-title{
    border-left: 5px solid crimson;
    padding: 20px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-title{
font-weight: 600;
font-size: 1.25rem;
}
#imG{
    width: 100%;
}
@media screen and (max-width:576px){
.features{
flex-direction: column;
}
}
/* end of sponsor-section */